#logo{
    width:100px;
    border-radius: 20px;
}
#facebook{
    width:50px;
}
#mail{
    width:35px;
}
header{
    background-image:url(http://www.history.com/s3static/video-thumbnails/AETN-History_VMS/21/205/tdih-may24-HD_still_624x352.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#value{
    border-radius:10px;
}
#searchbtn{
    border-radius:10px;
}
.tri{
    width: 300px;
    border:solid;
}
h1 {
    width:10px;
}
.e16 {
    width:250px;
}
.e17 {
    width:250px;
}
e14 {
    width:250px;
}