/*#logo{
    width:100px;
    border-radius: 20px;
}
#facebook{
    width:50px;
}
#mail{
    width:35px;
}
#twitter{
    width:35px;
}
header{
    background-image:url(http://www.history.com/s3static/video-thumbnails/AETN-History_VMS/21/205/tdih-may24-HD_still_624x352.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/

#value{
    border-radius:10px;
}
#searchbtn{
    border-radius:10px;
}
#myCarousel{
    width:1200px;
    margin:auto;
    height:500px;
    overflow:hidden;
}
.item{
    width:1200px;
    height:500px;
}
.maurya {
    width:260px;
}
body{
    background-color:white;
}
.tri{
    width: 300px;
    border:solid;
}

.e16 {
    width:290px;
}
.e17 {
    width:290px;
}
.e14 {
    width:290px;
}
.e3 {
    width:300px;
}
.e7 {
    width:280px;
}
.e4 {
    width:280px;
}

#con {
    background-color: orange;
    border: none;
    color: black;
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

header{
    padding-top: 51px;
}
@media only screen and (max-width: 768px){
    header {
        padding-top: 400px;
    }
}

form {
    width:1000px;
}
.navbar-default .navbar-brand{
      color: White;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color:grey;
    color:white;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color:grey;
    color:white;
}
.nav>li>a:focus, .nav>li>a{

    color:white;
}
body {
    width: 100%;
    height: 100%;
}
.intro-section {
    height: 100%;
    padding-top:150px;
    text-align: center;
    background: #fff;
    
}
.home-section {
    height: 100%;
    padding-top: 150px;
    background: #fff;
}
.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}
.podcast-section {
    height: 100%;
    padding-top: 150px;
    background: #eee;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    background: #eee;
    
}
body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url(http://www.history.com/s3static/video-thumbnails/AETN-History_VMS/21/205/tdih-may24-HD_still_624x352.jpg);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.6;
}
.text{
    color:black;

}

